@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Exo+2:wght@300;400;500;700;800&family=Fauna+One&family=Montserrat:wght@200;300;400;600;700;800&family=Work+Sans:wght@300;400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* height: 100vh;
  width: 100%; */
  font-family: "Exo 2", sans-serif;
}

.app {
  /* height: 100%; */
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* css for content */
/* Default styles for .content */
.content {
  height: 100%;
  padding-bottom: 100px;
  width: calc(100% - 300px);
  background-color: #f0f2f5;
  /* margin: 0 40px; */
}
.content {
  flex: 1; /* Take up all available horizontal space */
  font-size: 16px; /* Default font size */
}

/* Media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
  .content {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}

/* Media query for screens smaller than 480px (e.g., mobile) */
@media screen and (max-width: 480px) {
  .content {
    font-size: 12px; /* Further adjust font size for mobile screens */
  }
}
